
<!--  BLOG SIDE CONTENT -->
<div class=" col-md-6 col-sm-4 hidden-xs" >


    <div class="col-lg-2 col-md-3" style="position:fixed;">
        <div class=" blog-side-nest" >
            <div>
                <h4 class="text-left">최근 읽은 일기</h4>
            </div>
            <hr style="margin:0">

            <div class="media" ng-repeat="recent in recents">
                <a class="pull-left" href="#"style="max-width: 64px">
                    <img  class="img-circle media-object img-responsive-media" data-src="holder.js/64x64" alt="64x64" src="{{recent.imgUrl}}">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">{{recent.title}}</h5>
                    <a class="text-green " style="margin:-10px 0 10px" href="#">{{recent.ago}}2 days ago</a>
                </div>
            </div>

            <br>
        </div>

        <!--태그목록 페이지-->
        <div class="blog-side-nest" >
            <h4 class="text-left">태그</h4>
            <hr style="margin:0">
            <ul class="list-inline">
                <li ng-repeat="tag in tags">
                    <a class="btn bg-green" href="{{tag.url}}">{{tag.name}}</a>
                </li>

            </ul>
        </div>
        <!--./태그목록 페이지-->
    </div>
</div>
<!--  END OF BLOG SIDE CONTENT -->