/*일기 읽기 페이지에서 태그들 내의 간격을 넓혀준다*/
.btn-margin{
    margin: 0px 4px 0px 0px;
}

/*캘린더 뷰의 날짜를 오른쪽 정렬한다*/
.fc-day-number{
    float: right;
}

/*일기 목록의 사진에 반투명 필터효과를 적용*/
.img-bottom-filter{
    position: relative; top: -40px; height: 40px; opacity: 0.3;
}

.post-radius{
    border-radius: 3% 3% 0px 0px;
}