<!-- TOP NAVBAR -->
<!-- Header Navbar: style can be found in header.less -->
<div class="navbar navbar-static-top"  role="navigation" ng-controller="HeaderCtrl">
<!-- Sidebar toggle button-->
<!--<a href="#" class="hidden-xs navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</a>-->
    <div class="row">
        <div  class="col-lg-2 col-lg-offset-2">
            <ul class="nav navbar-nav "  style="">

                <li class="dropdown ">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" >
                        <b> 내 폴더 &gt;</b>
                    </a>
                </li>

                <!--홈 버튼-->
                <li class="dropdown pull-right">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" >
                        <i class="fontello-home"></i>
                    </a>
                </li>
                <!--./홈 버튼-->
            </ul>
        </div>
        <div class=" col-lg-2 col-lg-offset-1" style="" ><a href="#!" class="hidden-xs logo">Diary</a></div>
        <!-- search form -->
        <!--<div class="hidden-xs ">-->
            <!--<form action="#" method="get" class="sidebar-form">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" name="q" style="border-color: transparent !important;" class="text-green form-control" placeholder="일기를 검색" />-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!-- /.search form -->



        <!--오른편 서브 기능 아이콘들을 숨겨놓았다 로그아웃 기능 정도 생각중 -->
        <div class="nav  col-lg-offset-1  col-lg-3" style="margin-left: 7%;">
            <ul class="nav navbar-nav" style="">

                <li class="dropdown ">yoonsKim
                    <img style="max-width: 30px; max-height: 30px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p320x320/10514709_602094559909057_545461442979457188_n.jpg?oh=2fa5ccf656478e20f37f08f8d56c78aa&oe=54F728FD&__gda__=1425365052_5d932c680b0f0e771d7a7f667aedbc16">
                </li>

                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu" >
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" >
                        <i class="fontello-pen"></i>
                        <span class="label label-success"></span>
                    </a>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" ng-click="facebooklogin()">
                        <i class="fa fontello-facebook"></i>
                        <span class="label bg-aqua">10</span>
                    </a>


                </li>
                <!-- 로그아웃 버튼을 시행한다 -->
                <li class="dropdown " style="">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-click="facebookLogout()">
                        <i class="fa fontello-power-outline color-red"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--./오른편 서브기능 아이콘 끝-->
    </div>
</div>






<!-- /END OF TOP NAVBAR -->
<script src="js/plugins/nicescroll/jquery.nanoscroller.js"></script>

<script>
    //Enable sidebar toggle
    $("[data-toggle='offcanvas']").click(function() {

        if ($(this).hasClass('active')) {
            $(this).removeClass('active')

            $('.leftmenu').animate({
                left: 0
            }, 500);
            $(".navbar").animate({
                left: 0
            }, 500);

            $(".right-side").animate({
                "margin-left": "220px"
            }, 500);
        } else {
            $(this).addClass('active')
            //Else, enable content streching
            $('.leftmenu').animate({
                left: -220
            }, 500);

            $(".navbar").animate({
                left: -220
            }, 500);
            $(".right-side").animate({
                "margin-left": "0px"
            }, 500);
        }
        return false;
    });


    // show skin select for a second
    setTimeout(function() {
        $("[data-toggle='offcanvas']").addClass('active').trigger('click');
    }, 10)

    $("[data-toggle='tooltip']").tooltip();

    /*
     * ADD SLIMSCROLL TO THE TOP NAV DROPDOWNS
     * ---------------------------------------
     */
    $(".navbar .menu").slimscroll({
        height: "200px",
        alwaysVisible: false,
        size: "3px"
    }).css("width", "100%");

    (function($) {
        $(".nano").nanoScroller();
    })(jQuery);

    $('.header-changer').styleSwitcher({
        manageCookieLoad: false
    });
</script>