<!-- TOP NAVBAR -->
<!-- Header Navbar: style can be found in header.less -->
<div class="navbar navbar-static-top"  role="navigation" ng-controller="HeaderCtrl">
<!-- Sidebar toggle button-->
<!--<a href="#" class="hidden-xs navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</a>-->
    <div class="" style="  width: 60%; margin: 0 auto;">

        <div class="nav navbar-left">
            <ul class="nav navbar-nav" style="">

                <!--<li class="form  hidden-xs" >-->
                <!--connection</p>-->

                <!--</li>-->

                <!--홈 버튼-->
                <li class="dropdown" >
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" >
                        <i class="fontello-home"></i>
                    </a>
                </li>
                <!--./홈 버튼-->
            </ul>
        </div>

        <div class="" style=" width: 220px;  margin: 0 auto;" ><a href="#!" class="hidden-xs logo">Diary</a></div>

        <!-- search form -->
        <!--<div class="hidden-xs ">-->
            <!--<form action="#" method="get" class="sidebar-form">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" name="q" style="border-color: transparent !important;" class="text-green form-control" placeholder="일기를 검색" />-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!-- /.search form -->



        <!--오른편 서브 기능 아이콘들을 숨겨놓았다 로그아웃 기능 정도 생각중 -->
        <div class="nav  navbar-right">
            <ul class="nav navbar-nav" style="">

                <!--<li class="form  hidden-xs" >-->
                    <!--connection</p>-->

                <!--</li>-->

                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu " >
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" >
                        <i class="fontello-pen"></i>
                        <span class="label label-success"></span>
                    </a>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" ng-click="facebooklogin()">
                        <i class="fa fontello-facebook"></i>
                        <span class="label bg-aqua">10</span>
                    </a>


                </li>
                <!-- 로그아웃 버튼을 시행한다 -->
                <li class="dropdown tasks-menu" style="">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-click="facebookLogout()">
                        <i class="fa fontello-power-outline"></i>
                        <span class="label label-danger">9</span>
                    </a>

                </li>
            </ul>
        </div>
        <!--./오른편 서브기능 아이콘 끝-->
    </div>
</div>






<!-- /END OF TOP NAVBAR -->
<script src="js/plugins/nicescroll/jquery.nanoscroller.js"></script>

<script>
    //Enable sidebar toggle
    $("[data-toggle='offcanvas']").click(function() {

        if ($(this).hasClass('active')) {
            $(this).removeClass('active')

            $('.leftmenu').animate({
                left: 0
            }, 500);
            $(".navbar").animate({
                left: 0
            }, 500);

            $(".right-side").animate({
                "margin-left": "220px"
            }, 500);
        } else {
            $(this).addClass('active')
            //Else, enable content streching
            $('.leftmenu').animate({
                left: -220
            }, 500);

            $(".navbar").animate({
                left: -220
            }, 500);
            $(".right-side").animate({
                "margin-left": "0px"
            }, 500);
        }
        return false;
    });


    // show skin select for a second
    setTimeout(function() {
        $("[data-toggle='offcanvas']").addClass('active').trigger('click');
    }, 10)

    $("[data-toggle='tooltip']").tooltip();

    /*
     * ADD SLIMSCROLL TO THE TOP NAV DROPDOWNS
     * ---------------------------------------
     */
    $(".navbar .menu").slimscroll({
        height: "200px",
        alwaysVisible: false,
        size: "3px"
    }).css("width", "100%");

    (function($) {
        $(".nano").nanoScroller();
    })(jQuery);

    $('.header-changer').styleSwitcher({
        manageCookieLoad: false
    });
</script>
