<!-- sidebar: style can be found in sidebar.less -->
        <script>


        </script>
<section class="sidebar" ng-controller="SideBarCtrl">
    <!-- Sidebar user panel -->
    <!--사용자 프로필 페이지 시작-->
    <div class="user-panel">
        <div class="image-avatar image">

            <img src={{user[index].img}} ng-click="addIndex()" class="img-circle" alt="User Image" />
            <span><i class="fa fa-circle text-success"></i>
            </span>
        </div>
        <div class="info">
            <p class="text-center">
                <span>Hello,
                    <strong>{{user[index].name}}</strong></span>
            </p>
            <ul class="profile-list">
                <li>
                    <a href="#nowhere" data-toggle="tooltip" data-placement="top" title="Profile">
                        <span data-toggle="modal" data-target="#myModal"><i class="fontello-user-outline"></i>
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#nowhere" data-toggle="tooltip" data-placement="top" title="Setting">
                        <span data-toggle="modal" data-target="#setting"><i class="fontello-wrench-outline"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="pages/login.html" data-toggle="tooltip" data-placement="top" title="Logout">
                        <span><i class="fontello-power-outline"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--사용자 프로필 페이지 끝-->


    <!-- SIDEBAR MENU: : style can be found in sidebar.less -->
    <ul id="menu" class="sidebar-menu">

        <li>
            <a href="#!/" ng-class="{activeSmall:part == 'mail'}">
                <i class="fontello-calendar-outlilne"></i>
                <span>캘린더로 보기</span>
            </a>
        </li>
        <li>
            <a href="#!/card" ng-class="">
                <i class="fa fontello-mail-1"></i>
                <span>카드로 보기</span>
            </a>
        </li>
        <li>
            <a href="#!/list" ng-class="">
                <i class="fontello-menu-outline"></i>
                <span>리스트로 보기</span>
            </a>
        </li>
        <li class="">
            <a href="#!/dashboard" ng-class="{activeSmall:part == 'dashboard'}">
                <i class="fa fontello-desktop-1"></i>
                <span>통계</span>
            </a>
        </li>



        </li>
    </ul>
    <div class="info">
        <small class="text-progess text-right clearfix">행복지수<b class="text-right pull-right">70 %</b>
        </small>
        <div class="progress xs progress-dark">
            <div class="progress-bar progress-bar-blue" style="width: 70%;"></div>
        </div>
        <small class="text-progess text-right clearfix">데이터 사용량<b class="text-right pull-right">37 %</b>
        </small>
        <div class="progress xs progress-dark">
            <div class="progress-bar progress-bar-green" style="width: 37%;"></div>
        </div>
    </div>


</section>
<!-- /.sidebar -->

<script>
/* Sidebar tree view */
(function($) {
    $(".sidebar .treeview").tree();
})(jQuery);

$('#menu').slicknav();
//Activate tooltips
$("[data-toggle='tooltip']").tooltip();

function fix_sidebar() {
    //Make sure the body tag has the .fixed class
    if (!$("body").hasClass("fixed")) {
        return;
    }

    //Add slimscroll
    $(".sidebar").slimscroll({
        height: ($(window).height() - $(".header").height()) + "px",
        color: "rgba(0,0,0,0.3)"
    });
}
</script>
