<!-- sidebar: style can be found in sidebar.less -->
        <script>


        </script>
<section class="sidebar" ng-controller="SideBarCtrl">
    <!-- Sidebar user panel -->
    <!--사용자 프로필 페이지 시작-->
    <div class="user-panel">
        <div class="image-avatar image">

            <!--<img src={{user[index].img}} ng-click="addIndex()" class="img-circle" alt="User Image" />-->
            <!--<span><i class="fa fa-circle text-success"></i>-->
            <!--</span>-->
        </div>

    </div>
    <!--사용자 프로필 페이지 끝-->


    <!-- SIDEBAR MENU: : style can be found in sidebar.less -->
    <ul id="menu" class="sidebar-menu">

        <li>
            <a href="#!/" ng-class="{activeSmall:part == 'mail'}">
                <i class="fontello-calendar-outlilne"></i>
                <span>캘린더로 보기</span>
            </a>
        </li>
        <li>
            <a href="#!/card" ng-class="">
                <i class="fa fontello-mail-1"></i>
                <span>카드로 보기</span>
            </a>
        </li>
        <li>
            <a href="#!/list" ng-class="">
                <i class="fontello-menu-outline"></i>
                <span>리스트로 보기</span>
            </a>
        </li>
        <li class="">
            <a href="#!/dashboard" ng-class="{activeSmall:part == 'dashboard'}">
                <i class="fa fontello-desktop-1"></i>
                <span>통계</span>
            </a>
        </li>



        </li>
    </ul>


</section>
<!-- /.sidebar -->

<script>
/* Sidebar tree view */
(function($) {
    $(".sidebar .treeview").tree();
})(jQuery);

$('#menu').slicknav();
//Activate tooltips
$("[data-toggle='tooltip']").tooltip();

function fix_sidebar() {
    //Make sure the body tag has the .fixed class
    if (!$("body").hasClass("fixed")) {
        return;
    }

    //Add slimscroll
    $(".sidebar").slimscroll({
        height: ($(window).height() - $(".header").height()) + "px",
        color: "rgba(0,0,0,0.3)"
    });
}
</script>
