
<!-- Specific CSS for the example -->
<style>
/**
     * Grid items
     */

#tiles li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/**
     * Sort buttons
     */

#sortbys {
    list-style-type: none;
    text-align: center;
    margin: 0;
    position: relative;
    left: -35px;
}
#sortbys li {
    /* font-size: 12px; */
    float: left;
    padding: 6px 0 5px 0;
    cursor: pointer;
    margin: 0 0% 0 1%;
    width: 8%;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #b2bcc4;
    color: #ffffff;
}
#sortbys li:hover {
    background: #37A8AF;
}
#sortbys li.active {
    background: #37A8AF;
    color: #ffffff;
}
</style>




<ol class="breadcrumb newcrumb">
    <li>
        <a href="#">
            <span><i class="fa fontello-home-outline"></i>
            </span>Home</a>
    </li>
    <li><a href="#">일기</a>
    </li>
    <li>카드로 보기</li>
</ol>



<!--
      These are our filter options. The "data-sortby" classes are used to identify which
      grid items to show.
      -->
<br/>
<!--<ol id="sortbys">-->
    <!--<li data-sortby="title" class="active">title</li>-->
    <!--<li data-sortby="date">date</li>-->
    <!--<li data-sortby="grade">grade</li>-->
<!--</ol>-->
<br/>

<div id="main" role="main">

    <!--무한스크롤 디렉티브의 옵션, 이것을 넣어주어야 무한스크롤이 활성화 된다-->
    <div infinite-scroll='' infinite-scroll-distance='0'>
    <!--카드 타이틀 목록이 시작된다-->
        <ul id="tiles">

            <!--카드에 관한 모든 처리를 해주는 디렉티브-->
            <!--<li ng-card ></li>-->
            <!--<ng-card></ng-card>-->
            <!--" ng-click='readDiary("+event.diaryId+")'" +-->
            <li ng-repeat="info in diaryList" ng-click="readDiary({{info.diaryId}})"  data-date="{{info.start}}" data-grade="{{info.grade}}" data-title="{{info.title}}" style="display: list-item; border-radius: 3%;" >
                <p><b>{{info.title}}</b></p>
                <img src="{{info.imgUrl}}" width="200px" style="max-width: 200px; min-width:100px; max-height:600px; ">
                <!--body는 꼭! 약 20자 정도만 받아오도록 한다-->
                <p>{{info.body}}</p>
                <p>{{info.start}} / <b class="text-red">{{info.grade}}</b></p>
            </li>




        </ul>
    </div>
</div>




<!-- Once the page is loaded, initalize the plug-in. -->
<script type="text/javascript">
        sortArticle(jQuery);

</script>
