<!--<ol class="breadcrumb newcrumb">-->
    <!--<li>-->
        <!--<a class="text-green" href="#">-->
            <!--<span><i class="fa fontello-home-outline"></i>-->
            <!--</span>Home</a>-->
    <!--</li>-->
    <!--<li><a href="#">Blog</a>-->
    <!--</li>-->
    <!--<li>Blog List</li>-->
<!--</ol>-->

<!--CONTENT-->
<div class="" style="margin-top:30px;">
    <!--  BLOG CONTENT -->
    <div class="col-sm-8 col-lg-7 " infinite-scroll='loadMore()' infinite-scroll-distance='0'>

        <div id="{{post.diaryId}}" class="blog-list-nest post-radius" ng-animate="'animate'" ng-repeat="post in diaryList"  >
            <div class="vendor">
                <img class="post-radius" style="width:100%;" src="{{post.imgUrl}}" alt="">
                <!--투명 필터는 img가 있어야만 따라나온다-->
                <div class="row bg-white img-bottom-filter" ng-show="post.imgUrl.length>0"></div>
            </div>

            <div class="blog-list-content">
                <!--제목 페이지-->
                <h2>{{post.title}}</h2>

                    <p class="text-green" >
                    <span class="fa fa-fw fa-clock-o"></span>{{post.start}}</p>

                <!--body클래스에 일기 body를 집어넣도록 컨트롤러에서 작용-->
                <p class="body"></p>
                    <p>내용내용내용내용내용내용내용내용내용</p>

                <!--태그 페이지 -->
                <p class="pull-right">
                    <span class="label label-default btn-margin bg-green" ng-repeat="tag in post.tags">{{tag}}</span>
                </p>
                <!--./태그페이지 -->
                <ul class="list-inline">
                    <li>
                        <a class="text-green" href="#">
                            <span class="fontello-comment-1"></span>&nbsp;2 메모</a>
                    </li>
                </ul>
                <hr>
                <button ng-click="readDiary({{post.diaryId}})" class="btn btn-info pull-right">더 읽어보기</button>
                <div style="clear:both;"></div>
            </div>
        </div>






    </div>
    <!--  END OF BLOG CONTENT -->

    <div class="" remote-bar></div>
</div>

<script src="js/plugins/flatvideo/jquery.fitvids.js"></script>


<script>

$(".blog-list-nest").fitVids();
// Custom selector and No-Double-Wrapping Prevention Test
</script>

<!-- Page specific script -->

