<!--<ol class="breadcrumb newcrumb">-->
<!--<li>-->
<!--<a class="text-green" href="#">-->
<!--<span><i class="fa fontello-home-outline"></i>-->
<!--</span>Home</a>-->
<!--</li>-->
<!--<li><a href="#">Blog</a>-->
<!--</li>-->
<!--<li>Blog List</li>-->
<!--</ol>-->

<!--CONTENT-->

<div class="" style="margin-top:50px;" >
    <!--  BLOG CONTENT -->
    <!--<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Click to toggle modal-->
    <!--<br>-->
    <!--<small>(using an object)</small>-->
    <!--</button>-->

    <div class="col-sm-8 col-lg-7 " infinite-scroll='loadMore()' infinite-scroll-distance='0'>

        <div id="{{post.diaryId}}" class="blog-list-nest post-radius" ng-animate="'animate'" ng-repeat="post in diaryList" >

            <div class="vendor">

                <img class="post-radius" ng-model="imgNum"  style="width:100%;" ng-src="{{post.imgUrl[imgNum]}}" alt="">
                <!--투명 필터는 img가 있어야만 따라나온다-->
                <div class="row bg-white img-bottom-filter" ng-show="post.imgUrl"></div>
            </div>
            <div style="margin-left: 20px;">
                <img class="img-thumbnail" ng-repeat="url in post.imgUrl" ng-mouseenter="changeImgNum($index)" ng-src="{{url}}" style="max-width: 30px; max-height: 30px;">
            </div>

            <div class="blog-list-content">
                <!--제목 페이지-->
                <h2>{{post.title}}</h2>

                <h4 class="text-green" >
                    <span class="fa fa-fw fa-clock-o"></span>

                    {{post.start.getFullYear()}}년
                    {{post.start.getMonth()}}월
                    {{post.start.getDate()}}일
                    {{post.start.getHours()}}:{{post.start.getMinutes()}}
                </h4>

                <!--body클래스에 일기 body를 집어넣도록 컨트롤러에서 작용-->
                <p class="body" ng-bind-html="'{{post.body}}'"></p>

                <!--태그 페이지 -->
                <p class="pull-right">
                    <span class="label label-default btn-margin bg-green" ng-repeat="tag in post.tags">{{tag}}</span>
                </p>
                <!--./태그페이지 -->

                <hr>
                <button ng-click="readDiary(post.diaryId)" class="btn btn-info pull-right">더 읽어보기</button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

    <!--리모컨 바를 추가한다-->
    <div class="" remote-bar style="opacity: 0.94;"></div>
</div>


<script src="js/plugins/flatvideo/jquery.fitvids.js"></script>

<script>

    $(".blog-list-nest").fitVids();
    // Custom selector and No-Double-Wrapping Prevention Test
</script>

<!-- Page specific script -->
