<!--<ol class="breadcrumb newcrumb">-->
    <!--<li>-->
        <!--<a class="text-green" href="#">-->
            <!--<span><i class="fa fontello-home-outline"></i>-->
            <!--</span>Home</a>-->
    <!--</li>-->
    <!--<li><a href="#">Blog</a>-->
    <!--</li>-->
    <!--<li>Blog List</li>-->
<!--</ol>-->

<!--CONTENT-->
<div class="" style="margin-top:100px;">
    <!--  BLOG CONTENT -->

    <div class="col-sm-8 col-lg-7 " infinite-scroll='loadMore()' infinite-scroll-distance='0'>
        <div class="row bg-white" style="border: #93CC8D 5px solid; margin-bottom: 20px;">
            <form ng-submit="insert()" >
                <div class="row  text-left bg-grass"><h5 class="text-white" style="margin-left: 17px;"><b>일기 쓰기</b> </h5></div>

                <input popover-trigger="focus" ng-model="title" name="title" class="form-control" placeholder="제목을 입력하세요" type="text" style="width: 50%;  margin: 10px;">
                <div style="margin-bottom: 10px;">
                    <b style="margin-left: 17px;">날짜선택</b>
                    <div class="btn-group" style="margin-left: 88px">
                    <button type="button" class="btn btn-default">2014-02-02</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">달력이 나올 공간</a>
                        </li>
                    </ul>
                </div>
                </div>
                <textarea ng-model="body" id="body" name="body" class="textarea" placeholder="입력하세요 :)"></textarea>
                <div class="row" align="right" style="margin: 20px;">
                    <button type="submit" value="add" class="btn success-icon bg-blue">작 성</button>
                    <button ng-click="abc()" class="btn btn-danger">취 소</button>

                </div>
            </form>
        </div>
        <div id="{{post.diaryId}}" class="blog-list-nest post-radius" ng-animate="'animate'" ng-repeat="post in diaryList"  >

            <div class="vendor">

                <img class="post-radius" style="width:100%;" src="{{post.imgUrl}}" alt="">
                <!--투명 필터는 img가 있어야만 따라나온다-->
                <div class="row bg-white img-bottom-filter" ng-show="post.imgUrl.length>0"></div>
            </div>

            <div class="blog-list-content">
                <!--제목 페이지-->
                <h2>{{post.title}}</h2>

                    <h4 class="text-green" >
                    <span class="fa fa-fw fa-clock-o"></span>{{post.start}}</h4>

                <!--body클래스에 일기 body를 집어넣도록 컨트롤러에서 작용-->
                <p class="body"></p>
                    <p>{{post.body}}</p>

                <!--태그 페이지 -->
                <p class="pull-right">
                    <span class="label label-default btn-margin bg-green" ng-repeat="tag in post.tags">{{tag}}</span>
                </p>
                <!--./태그페이지 -->
                <ul class="list-inline">
                    <li>
                        <a class="text-green" href="#">
                            <span class="fontello-comment-1"></span>&nbsp;2 메모</a>
                    </li>
                </ul>
                <hr>
                <button ng-click="readDiary({{post.diaryId}})" class="btn btn-info pull-right">더 읽어보기</button>
                <div style="clear:both;"></div>
            </div>
        </div>






    </div>
    <!--  END OF BLOG CONTENT -->

    <div class="" remote-bar></div>
</div>

<script src="js/plugins/flatvideo/jquery.fitvids.js"></script>


<script>

$(".blog-list-nest").fitVids();
// Custom selector and No-Double-Wrapping Prevention Test
</script>

<!-- Page specific script -->

